{% extends 'base.html.twig' %}

{% block title %}Résumé{% endblock %}

{% block body %}

{% include "navbar.html.twig" %}

<body class="body-movies">
	<h3 class="title-show">{{ movie.fullTitle }}</h3>

	<div class="container-fluid">
		<div class="row">
			<div class="col-4">
				<img class="movie-poster" style="width: 100%" src="{{ movie.image }}">
			</div>
			<div class="col-8">
				<div class="row">
					{% for actor in movie.actorList|slice(0,4) %}
					<div class="stars col-2">
						<img class="image-stars" src="{{ actor.image }}">
						<p class="actor-name">{{ actor.name }} ({{ actor.asCharacter }})</p>
					</div>
					{% endfor %}
				</div>
				<div class="col-8">
					<p class="description">{{ movie.plotLocal }}</p>
					<h4 class="director">Réalisé par :</h4>
					<div class="row">
						{% for director in movie.directorList %}
						<div class="col-3">
							<p class="director-name">{{ director.name}}</p>
						</div>
						{% endfor %}
					</div>
					<div class="row trailer">
						<div class="col-2">
							<p class="p-trailer">Voir le trailer : </p>
						</div>
						<div class="col-2">
							<a href="{{ path("trailer",{'id' : movie.id})}}"><img
									src="{{asset('build/images/YouTube_23392.347a914b.png')}}" alt="youtube"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
{% endblock %}