{% extends 'base.html.twig' %}
{% block body %}
	<body class="body-movies">

		<h1 class="title-show">
			{{ movies.title }}</h1>

		<div class="row">
			<pre>
	{{ dump(movies) }}
</pre>
			{% for movie in movies.items("imbDrating", "asc")|slice(0, 50) %}
				<div class="card col-2">
					<p class="card-title">{{ movie.title }}</p>
					<div class="card-image">
						<a class="link" href=""><img src="{{ movie.image }}"/></a>
					</div>
					<div class="circle">
						<span class="rating">{{ movie.imDbRating }}</span>
					</div>
				</div>
			{% endfor %}
		</body>
	</body>
</div></body>{% endblock %}
