{% extends 'base.html.twig' %}
{% block body %}
	<body class="body-movies">

		{% for key,genre in genres %}
			{% if list == genre %}
				<h1 class="title-show">{{ title~key }}</h1>
			{% endif %}
		{% endfor %}
		<select id="select">
			<option>Trier par</option>
			<option>notes croissantes</option>
			<option>notes décroissantes</option>
		</select>
		{# <pre>
							{{ dump(movies) }}
						</pre> #}
		<div class="row">
			{% for movie in movies.items|sort((a,b) => b.imDbRating <=> a.imDbRating)|slice(0, 50)%}
				<div class="card col-2">
					<p class="card-title">{{ movie.title }}</p>
					<div class="card-image">
						<a class="link" href=""><img src="{{ movie.image }}"/></a>
					</div>
					<div class="circle">
						<span class="rating">{{ movie.imDbRating }}</span>
					</div>
				</div>
			{% endfor %}

		</div>
	</body>
{% endblock %}
