<body class="body-home">
	<div>
		<div id="demo" class="carousel carousel-fade slide" data-ride="carousel">
			<ul class="carousel-indicators">
				<li data-target="#demo" data-slide-to="0" class="active"></li>
				<li data-target="#demo" data-slide-to="1"></li>
				<li data-target="#demo" data-slide-to="2"></li>
				<li data-target="#demo" data-slide-to="3"></li>
				<li data-target="#demo" data-slide-to="4"></li>
				<li data-target="#demo" data-slide-to="5"></li>
				<li data-target="#demo" data-slide-to="6"></li>
				<li data-target="#demo" data-slide-to="7"></li>
			</ul>
			<div class="carousel-inner rounded mx-auto d-block">
				<div class="carousel-item active">
					<img class="img-car" src="{{asset('build/images/combat-de-chat.ae49a2e3.jpg')}}" alt="action" width="1100" height="500">
					<div class="carousel-caption">
						<h3><a class="h3" href="{{ path("movies_show",{ 'list': genres.Action }) }}">Action</a></h3>
						{# <p>Et c'est parti pour la bagarre.</p> #}
					</div>
				</div>
				<div class="carousel-item">
					<img class="img-car" src="{{asset('build/images/aventure.0ae379dd.jpg')}}" alt="aventure" width="1100" height="500">
					<div class="carousel-caption">
						<h3><a class="h3" href="{{ path("movies_show",{ 'list': genres.Aventure }) }}">Aventure</a></h3>
						{# <p>En route pour l'aventure !</p> #}
					</div>
				</div>
				<div class="carousel-item">
					<img class="img-car" src="{{asset('build/images/espace.e0aacf3b.jpg')}}" alt="science fiction" width="1100" height="500">
					<div class="carousel-caption">
						<h3><a class="h3" href="{{ path("movies_show",{ 'list': genres["Science-fiction"] }) }}">Science fiction</a></h3>
						{# <p>Vers l'infini et au delà !!!</p> #}
					</div>
				</div>
				<div class="carousel-item">
					<img  class="img-car" src="{{asset('build/images/happy.5b612bd8.jpg')}}" alt="comédie" width="1100" height="500">
					<div class="carousel-caption">
						<h3><a class="h3" href="{{ path("movies_show",{ 'list': genres.Comédie }) }}">Comédie</a></h3>
						{# <p>Comme il faut bien rire un peu</p> #}
					</div>
				</div>
				<div class="carousel-item">
					<img class="img-car" src="{{asset('build/images/triste.f38c82d6.jpg')}}" alt="drame" width="1100" height="500">
					<div class="carousel-caption">
						<h3><a class="h3" href="{{ path("movies_show",{ 'list': genres.Drame }) }}">Drame</a></h3>
						{# <p>Ça me rend très triste.</p> #}
					</div>
				</div>
				<div class="carousel-item">
					<img class="img-car" src="{{asset('build/images/suspense.6050715d.jpg')}}" alt="thriller" width="1100" height="500">
					<div class="carousel-caption">
						<h3><a class="h3" href="{{ path("movies_show",{ 'list': genres.Thriller }) }}">Thriller</a></h3>
						{# <p>Hummmm suspense...</p> #}
					</div>
				</div>
				<div class="carousel-item">
					<img class="img-car" src="{{asset('build/images/horror.1d343bc0.jpg')}}" alt="horreur" width="1100" height="500">
					<div class="carousel-caption">
						<h3><a class="h3" href="{{ path("movies_show",{ 'list': genres.Horreur }) }}">Horreur</a></h3>
						{# <p>Oulala ça fait peur !</p> #}
					</div>
				</div>
				<div class="carousel-item">
					<img class="img-car" src="{{asset('build/images/love.b7c9b5cc.jpg')}}" alt="romance" width="1100" height="500">
					<div class="carousel-caption">
						<h3><a class="h3" href="{{ path("movies_show",{ 'list': genres.Romance }) }}">Romance</a></h3>
						{# <p>Ah l'amour...</p> #}
					</div>
				</div>
				<div class="carousel-item">
					<img class="img-car" src="{{asset('build/images/fantasy.18c747c6.jpg')}}" alt="fantaisie" width="1100" height="500">
					<div class="carousel-caption">
						<h3><a class="h3" href="{{ path("movies_show",{ 'list': genres.Fantaisie }) }}">Fantaisie</a></h3>
						{# <p>Mais c'est fantastique ! Ah non fantaisiste</p> #}
					</div>
				</div>
				<div class="carousel-item">
					<img class="img-car" src="{{asset('build/images/series.2e0c0c72.jpg')}}" alt="series" width="1100" height="500">
					<div class="carousel-caption">
						<h3><a class="h3" href="{{ path("movies_show",{ 'list': genres.series }) }}">Séries</a></h3>
						{# <p>Et si on se regardait une petite série ?</p> #}
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#demo" data-slide="prev">
				<span class="carousel-control-prev-icon"></span>
			</a>
			<a class="carousel-control-next" href="#demo" data-slide="next">
				<span class="carousel-control-next-icon"></span>
			</a>
		</div>
	</body>
</body>
